@using Capstone.Web.Models;
@model List<ParkWeatherModel>

@{
    ViewBag.Title = "Home";
}

@for (int i = 0; i < 10; i++)
{
    <a href="@Url.Action("Detail", "Home", new { id = Model[i].Name })">
        <img src="~/Content/img/parks/@(Model[i].Code).jpg" alt="park image" />
        <h3>@Model[i].Name</h3>
        <p>@Model[i].State<p />
        <p>@Model[i].Description</p>
</a>
}



